body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 20px; /* ブラウザのデフォルト余白をリセット */
  padding: 0;
  background-color: #f7f7f7; /* 背景色 */
}
.parent{
  display: flex; /* フレックスボックス */
  flex-wrap: wrap; /* 折り返し */
  justify-content: center; /* 中央寄せ */
  align-items: center;
  height: 100vh; /* 画面の高さいっぱい */
}
.container {
  margin: 0 auto; /* 左右中央寄せ */
  max-width: 600px;
}
p{
  line-height: 2em; /* 行の高さ */
}
.chord {
  position: relative; /* 相対配置 */
  font-size: 0.8em; /* 小さいサイズ */
  color: blue; /* 文字色青 */
  top: -1em; /* 上にずらす */
}